<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}"
>

<!-- Page Title -->
<ac-page-title layout:fragment="page-heading" x-cloak>
  Owner Information
</ac-page-title>
<!-- Page Title 끝 -->

<!-- Content -->
<ac-container layout:fragment="content" x-cloak>
  <div class="row-span-full overflow-auto">

    <!-- Table -->
    <div class="my-4 py-2 flex flex-col">
      <div class="mb-10">
        <ac-table>
          <ac-thead>
            <ac-tr>
              <ac-th col="col-span-2">Name</ac-th>
              <ac-th col="col-span-2">Address</ac-th>
              <ac-th col="col-span-2">City</ac-th>
              <ac-th col="col-span-2">Telephone</ac-th>
            </ac-tr>
          </ac-thead>

          <ac-tbody>
            <ac-tr>
              <ac-td col="col-span-2" th:text="${owner.firstName + ' ' + owner.lastName}"></ac-td>
              <ac-td col="col-span-2" th:text="${owner.address}"></ac-td>
              <ac-td col="col-span-2" th:text="${owner.city}"></ac-td>
              <ac-td col="col-span-2" th:text="${owner.telephone}"></ac-td>
            </ac-tr>
          </ac-tbody>
        </ac-table>
      </div>
    </div>
    <!-- Table 끝 -->

    <div class="my-4 py-2 flex flex-col">
      <div class="mb-10">
        <ac-button color="black" th:on-click="'window.location.href=\'/owners/' + ${owner.id} + '/edit\''">Edit Owner</ac-button>
      </div>

      <div class="mb-10">
        <ac-button color="black" th:on-click="'window.location.href=\'/owners/' + ${owner.id} + '/pets/new\''">Add New Pet</ac-button>
      </div>
    </div>

  </div>
</ac-container>

</html>
